<div class="modal-header">
    <h3 class="modal-title">Detalle Hoja Ruta</h3>
</div>

<div class="modal-body">
    <div class="col-lg-12 col-sm-12 col-xl-12">
        <div class="card border-light mb-3">
            <div class="card-body d-flex align-content-stretch justify-content-center">
                <!-- <div class="position-absolute" style="z-index: 999;bottom: 30px;left: 30px;">
                <a href="javascrip:void(0);" (click)="Procesar('00');" class="btn-peru">PERÚ</a> -
                <a href="javascrip:void(0);" *ngIf="NombreDepartamento!=''" class="btn-dpto">{{NombreDepartamento}}</a>
              </div> -->
                <div id="map" style="width:100%; height:500px; border-radius:3px"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plomo" id="btnCancelar" type="button" (click)="closeModal()">Cerrar</button>
</div>