/* You can add global styles to this file, and also import other style files */
@import "variables";
/* @import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
//@import "~bootstrap/scss/print"; */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/bootstrap.min.css";
@import "assets/css/custom.css";
@import "assets/fonts/style.css";
@import "reset";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-auto {
  position: absolute !important;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
}

.card .card-header {
  background: 0 0;
  border-radius: 0;
  border-bottom: 0;
  padding: 20px 20px 7px;
  position: relative;
  z-index: 3;
  min-height: 48px;
}

.modal-title {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  color: #202124 !important;
  line-height: 28px !important;
  font-size: 19px !important;
  margin: 10px 0 !important;
  font-weight: 400 !important;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  background-color: #e0e0e0 !important;
  border-radius: 0 !important;
  border-top: solid 1px #bdbdbd;
}
.container-fluid {
  padding-left: 30px !important;
  padding-right: 30px !important;
  position: relative !important;
}
.panel-heading.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f8f8f8 !important;
}
.accordion-toggle button {
  color: #343434 !important;
}
.card .card-header.separator:after {
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
  left: 16px;
  right: 16px;
  position: absolute;
  bottom: 0;
}
.card .card-header + .card-body {
  padding-top: 0;
}
.social-card.status {
  background-color: #616161;
  border-radius: 4px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.social-card.status h6 {
  color: #ffffff !important;
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
  .card-principal {
    box-shadow: none;
  }
  .card-principal .card-body {
    padding: 0;
  }

  .table-responsive {
    margin-right: 0;
    margin-left: 0;
  }
  .xs-100 {
    width: 100%;
  }
  .xs-footer-lista {
    background-color: #fafafa !important;
    border-top: solid 1px #ebebeb !important;
  }
  .btn-icon {
    opacity: 1 !important;
  }
  .xs-footer-lista .btn-icon {
    background-color: #eeeeee;
    display: inline-block;
    height: 36px;
    width: 36px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
  }
  .xs-footer-lista .btn-icon:hover {
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  }
  .xs-grid-detalle > td {
    margin: 0;
    padding: 0 !important;
  }
  .xs-grid-detalle thead {
    display: none;
  }
  .xs-grid-detalle > td tr {
    border-top: solid 1px #ebebeb !important;
  }
  .xs-grid-detalle > td tr {
    border-top: 0;
  }
  .xs-hidden {
    display: none;
  }
  .display {
    display: none;
  }
  .xs-display {
    display: block;
  }
  .xs-inline-block {
    display: inline-block;
  }
  .img-logo-head {
    display: none;
  }
  .lastTD-xs-hidden tbody tr:last-child {
    display: none;
  }
  .btn-icon,
a.btn-icon {
  text-decoration: none;
  opacity: 0.8;
  transition: all ease 0.2s;
  color: rgba(0, 0, 0, 0.87);
}
.btn-icon:hover,
a.btn-icon:hover {
  text-decoration: none;
  opacity: 1;
}
.display-flex {
  display: flex;
}
.btnObraFase {
  position: relative;
  font-size: 50px;
}
.btnObraFase span {
  color: #fffcfc;
  position: absolute;
  font-size: 12px;
  text-align: center;
  top: 13px;
  left: 4px;
  width: 50px;
}
.btn.focus,
.btn:focus {
  box-shadow: none !important;
}
.fa-15x {
  font-size: 2.5em !important;
}
.fa-15x img {
  height: 40px;
}

.lastTD tbody tr:last-child td {
  background-color: #f0f0f0 !important;
  font-weight: 600;
}

.input-group-prepend .btn {
  background-color: #e9ecef;
  border: solid 1px #ced4da;
  /* border-right: 0; */
  color: rgba(0, 0, 0, 0.5);
}
  table,
  tbody,
  tr,
  td {
    display: block;
    text-align: left;
    border: 0 !important;
  }

  thead {
    display: none;
  }
  .bs-datepicker-body table {
    display: table;
  }

  .bs-datepicker-body tr {
    display: table-row;
  }
  .bs-datepicker-body td {
    display: table-cell;
  }
  th {
    display: none;
  }
  div.xs-th {
    display: block;
    text-align: left;
  }
  span.xs-th {
    display: inline-block;
    text-align: left;
  }

  .table tr td {
    padding-bottom: 0;
  }
  .table tr td:last-child {
    padding-bottom: 10px;
  }
  .td-xs-d-tc {
    display: table-cell;
  }
  .td-xs-b-0 {
    border: 0 !important;
    background-color: transparent !important;
  }

  .table .table {
    background-color: inherit;
    box-shadow: none !important;
    margin: 0;
  }

  .table-principal > tbody {
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  }

  .table-principal tbody tr {
    position: relative;
  }
  .table-principal tbody tbody tr {
    background-color: inherit !important;
  }

  .table-normal tr {
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff !important;
  }
  .table-full-detalle thead {
    display: none;
  }
  .table-full-detalle tr {
    border-top: solid 1px #dddddd !important;
    background-color: #ffffff !important;
  }
  .table-full-detalle tr:last-child {
    border-bottom: solid 1px #dddddd !important;
  }
  .table-full-detalle .xs-footer-lista {
    border: 0 !important;
    background-color: inherit !important;
  }

  .card-principal {
    border: 0 !important;
    background-color: #f1f1f1 !important;
  }
  .xs-text-right {
    text-align: right;
  }
  .xs-text-center {
    text-align: center !important;
  }
  .xs-text-left {
    text-align: left;
  }
  .xs-display .item-tag {
    padding: 5px 8px;
    font-size: 10px;
    margin-right: 5px;
  }
  .card-auto {
    position: static !important;
    width: auto;
    height: auto;
  }
  .card-auto .div-centrado {
    position: static;
    transform: none;
    left: 50%;
    top: 50%;
  }
  .xs-absolute {
    position: absolute;
  }
  .xs-relative {
    position: relative;
  }
  .xs-row-seleccionable {
    margin: 10px 20px 0 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .xs-display-inline-block {
    display: inline-block;
  }
  .xs-p-0 {
    padding: 0 !important;
  }
  .xs-p-b-0 {
    padding-bottom: 0 !important;
  }
  .xs-p-tb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .xs-p-t-0 {
    padding-top: 0 !important;
  }
  .xs-p-l-1 {
    padding-left: 10px !important;
  }
  .xs-p-r-1 {
    padding-right: 10px !important;
  }
  .xs-p-t-1 {
    padding-top: 10px !important;
  }
  .xs-m-0 {
    margin: 0 !important;
  }
  .xs-m-t-1 {
    margin-top: 10px !important;
  }
  .xs-m-r-1 {
    margin-right: 10px !important;
  }
  .xs-m-l-2 {
    margin-left: 20px !important;
  }
  .xs-m-r-2 {
    margin-right: 20px !important;
  }
}
@media (max-width: 768px) {
  .jumbotron,
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .modal .modal-content {
    box-shadow: none;
  }
  .modal-dialog {
    min-width: 700px !important;
  }

  .page-title {
    margin: 0 20px;
  }
  .nav-tabs .nav-link.active {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 5px 0 0 3px;
    border-right: 0;
  }
  .iframe-mapa {
    height: 450px;
  }
}

@media (max-width: 575.98px) {
  .modal-dialog {
    min-width: 300px !important;
    /* margin: 1.75rem auto; */
  }
  .txtUsuario {
    width: 160px;
  }
  .pace .pace-progress {
    height: 2px;
  }
  #messageCompatibility {
    display: none;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    min-width: 800px !important;
  }
  .modal-detalle-transferencia {
    min-width: 900px !important;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    min-width: 1024px !important;
  }
  .modal-dialog.modal-cronograma {
    min-width: 800px !important;
  }

  .modal-dialog.modal-presupuesto-adicional {
    min-width: 1300px !important;
  }

  .modal-dialog.modal-accion-monitoreo {
    min-width: 800px !important;
  }

  .modal-detalle-transferencia {
    min-width: 1150px !important;
  }

  .modal-dialog.modal-ampliacion-plazo {
    min-width: 1300px !important;
  }

  .modal-dialog.modal-adelanto-directo {
    min-width: 700px !important;
  }

  .modal-dialog.modal-adelanto-materiales {
    min-width: 1300px !important;
  }

  .modal-dialog.modal-standar-md {
    min-width: 1300px !important;
  }
}

@media (max-height: 720px) {
  .iframe-mapa {
    height: 400px;
  }
}
@media (max-height: 664px) {
  .iframe-mapa {
    height: 300px;
  }
}
@media (min-height: 760px) {
  .iframe-mapa {
    height: 450px;
  }
}
@media (min-height: 1200px) {
  .iframe-mapa {
    height: 700px;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .table th,
  .table td {
    padding: 10px 5px;
  }

  .table td {
    font-size: 10px;
  }
  .table th {
    color: #202124;
    font-size: 10px;
  }
}
.table-responsive {
  display: table !important;
  text-align: center;
}
.container-scroll {
  overflow: auto;
  width: 100%;
}
.table td,
.table th {
  vertical-align: middle;
  padding: 0.3rem;
}

.table td {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 0 !important;
  border-top: 0 !important;
  /* border-left:1px solid #f1f1f1 !important;
    border-right:1px solid #f1f1f1 !important;; */
  padding: 10px !important;
}

.table th {
  color: #202124;
  background-color: #f0f0f0;
  font-weight: normal;
  font-weight: 500;
  vertical-align: middle !important;
  text-transform: uppercase;
}
.table tr td {
  background-color: transparent;
}
.table tr:hover {
  background-color: #fcf8e3 !important;
}
.table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.table .tbody {
  border-bottom: 0 !important;
  border-top: 0 !important;
}
.table tbody + tbody {
  border-top: 0 !important;
}
.page-title {
  margin-top: 0;
  font-size: 30px;
  line-height: 35.88px;
  padding: 30px 0px;
  margin-bottom: 0px;
  color: #2b303b;
}
.modal-title {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
  color: #202124 !important;
  line-height: 28px !important;
  font-size: 19px !important;
  margin: 10px 0 !important;
  font-weight: 400 !important;
}
.modal-title {
  margin: 10px 25px;
}
.modal-body {
  margin: 0 30px;
}
.modal-body .container-fluid {
  padding: 0;
}
.tab-pane .page-title {
  font-size: 16px;
  line-height: 20px;
  padding-top: 0;
}
.tab-pane .page-title b {
  font-weight: 600;
  text-transform: uppercase;
}
.titleScroll {
  display: none;
  width: calc(100% - 40px);
  position: fixed;
  z-index: 1030;
  padding: 10px 30px;
  font-size: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  background-color: #ffffff;
}
.page-title {
    margin: 0 20px;
    font-size: 1.5rem;
  }

.map {
  height: 100%;
  padding: 0;
}

.titleScroll {
  display: none;
  width: calc(100% - 40px);
  position: fixed;
  z-index: 1030;
  padding: 10px 30px;
  font-size: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  background-color: #ffffff;
}
.f-w-4 {
  font-weight: 400;
}
.f-w-5 {
  font-weight: 500;
}
.f-w-6 {
  font-weight: 600;
}
.f-w-7 {
  font-weight: 700;
}
.f-s-7 {
  font-size: 7px;
}
.f-s-8 {
  font-size: 8px;
}
.f-s-9 {
  font-size: 9px;
}
.f-s-10 {
  font-size: 10px;
}
.f-s-11 {
  font-size: 11px;
}
.f-s-12 {
  font-size: 12px;
}
.f-s-13 {
  font-size: 13px;
}
.f-s-14 {
  font-size: 14px;
}
.f-s-1rem {
  font-size: 1rem;
}
.f-s-2rem {
  font-size: 2rem;
}
.f-s-3rem {
  font-size: 3rem;
}
.f-s-4rem {
  font-size: 4rem;
}
.f-s-5rem {
  font-size: 5rem;
}
.l-h-100 {
  line-height: 100%;
}
.bg-purple {
  background-color: #b0c4de !important;
}
.bg-skyblue {
  background-color: #42a5f5 !important;
}
.bg-bluegrey {
  background-color: #778899 !important;
}
.bg-lightblue-600 {
  background-color: #039be5 !important;
}
.bg-cyan-600 {
  background-color: #00acc1 !important;
}
.bg-orange-600 {
  background-color: #ef6c00 !important;
}
.bg-yellow-600 {
  background-color: #fabd05 !important;
}
.bg-black-600 {
  background-color: #444444 !important;
}
body.activeScroll .titleScroll {
  display: block;
}
.pre-wrap {
  white-space: pre;
}
.form-group-detalle {
  margin-top: 0px;
  align-items: center;
}
.form-group-default {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.form-group {
  margin-bottom: 10px;
}
.input-group-prepend .btn {
  background-color: #e9ecef;
  border: solid 1px #ced4da;
  /* border-right: 0; */
  color: rgba(0, 0, 0, 0.5);
}
.input-group-prepend .btn:hover {
  color: #000000;
}
.input-file-txt-max {
  position: absolute;
  font-size: 8px;
  right: 5px;
  top: 3px;
  z-index: 1;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.accordion-toggle button div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
}
.row-seleccionable input[type="checkbox"] {
  display: none;
}

.row-seleccionable input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  font: normal normal normal 14px/1 FontAwesome;
  color: #333333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 24px;
  font-size: 24px;
}

.row-seleccionable input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.row-seleccionable input[type="checkbox"] + label:before {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  letter-spacing: 10px;
}

.row-seleccionable input[type="checkbox"]:checked + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f046";
  letter-spacing: 5px;
}

.modal-dialog.modal-mapa {
  min-width: 90% !important;
  height: 90% !important;
}
.modal-dialog.modal-mapa .modal-content {
  height: 100% !important;
}
.tab-pane-border .tab-pane {
  border: solid 1px #bdbdbd;
}

.btn-icon, a.btn-icon{
  text-decoration: none;
  opacity: 0.8;
  transition: all ease 0.2s;
  color:rgba(0,0,0,0.87);
}
.btn-icon:hover, a.btn-icon:hover{
  text-decoration: none;
  opacity: 1;
}
.btn-icon{
  opacity: 1 !important;
}
.xs-footer-lista .btn-icon{
  background-color: #eeeeee;
  display: inline-block;
  height: 36px;
  width: 36px;
  color:rgba(0,0,0,0.87);
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}
.xs-footer-lista .btn-icon:hover{
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.26);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.26);
}
.modal-extra{
  min-width: 80% !important;
}
.combo-style{
  border:1px solid #000 !important;
  border-radius: 2px !important;
}

.btnObraFase{
  position: relative;
  font-size: 50px;
}
.btnObraFase span{
  padding: 3px;
  color: #fffcfc;
  position: absolute;
  font-size: 12px;
  text-align: center;
  top: 13px;
  left: 4px;
  width: 50px;
  
}

.div-normal{
  background-color:#fff !important;
}
.div-contingencia{
  background-color:#FF8C33 !important;
}
