.btn {
    font-size: 0.7rem !important;
    font-weight: 500 !important;
}

.btnObraFase-iniciado {
    color: #FF8C33 !important;
}

.btnObraFase-sinAsignar {
    color: #757575 !important;
}

.btnObraFase-completo {
    color: #00c853 !important;
}

.btnObraFase-porCompletar {
    color: #1e88e5 !important;
}

.btnObraFase- {
    color: #212123 !important;
}

.btnSCursor {
    cursor: default !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}