<div class="container-fluid">
    <div class="title-block">
        <p class="page-title">Solicitudes de servicio</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-sm-9">
            <div class="card">
                <div class="card-body" style="font-size: 0.9rem">
                    <div class="row form-group d-flex align-items-center">
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Nro. de Solicitud:</label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <input dTextBox="dTextBox" maxlength="20" class="form-control" name="txtNroOrden" [textMask]="{mask: numOrdenMask}" placeholder="Nro. Solicitud" [(ngModel)]="busqueda.numero_solicitud">
                        </div>
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Fecha de Recepcion:</label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <mat-form-field style="width: 100%">
                                <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" readonly [(ngModel)]="busqueda.fecha_recepcion">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row form-group d-flex align-items-center">
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Tipo de Solicitud: </label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <mat-form-field style="width: 100%">
                                <mat-label>Tipo de Solicitud</mat-label>
                                <mat-select [(ngModel)]="busqueda.id_tipo_solicitud">
                                    <mat-option *ngFor="let tipoSolicitud of listaTipoSolicitud" [value]="tipoSolicitud.id_tipo_solicitud">
                                        {{tipoSolicitud.tipo_solicitud}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Estado de Solicitud: </label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <mat-form-field style="width: 100%">
                                <mat-label>Estado</mat-label>
                                <mat-select [(ngModel)]="busqueda.id_estado" name="estadoSolicitud">
                                    <mat-option *ngFor="let estado of listaEstadoSolicitud" [value]="estado.id_estado">
                                        {{estado.estado}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="float-left">
                                <button class="btn btn-info mr-1" (click)="crearSolicitudServicio()" type="button">
                  <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
                </button>
                            </div>
                            <div class="float-right">
                                <button class="btn btn-info mr-1" (click)="ConsultaPrincipal(busqueda)" type="button" id="btnBuscar">
                  <i class="fa fa-search"></i> Buscar</button>
                                <button class="btn btn-debug mr-1" (click)="LimpiarControles()" type="button" id="btnLimpiar">
                  <i class="icon icon-limpiar"></i> Limpiar</button>
                                <span style="color: #00a3e8">
                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-3">
            <div class="card bg-secondary">
                <div class="card-body">
                    <div class="div-centrado text-center c-white">
                        <div class="f-s-5rem l-h-100">{{totalRegistros}}</div>
                        <div class="control-label">Solicitudes de Servicio</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card card-default card-principal">
        <div class="card-body">
            <div class="group-box">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                            <thead class="table-active">
                                <tr>
                                    <th rowspan="2">No. SOLICITUD</th>
                                    <th rowspan="2">DESCRIPCION</th>
                                    <th rowspan="2">TIPO DESCRIPCION</th>
                                    <th rowspan="2">SERVICIO</th>
                                    <th rowspan="2">PRIORIDAD</th>
                                    <th rowspan="2">ESTADO</th>
                                    <th colspan="3">PERIODO EJECUCION</th>
                                    <th colspan="2">EDICION</th>
                                </tr>
                                <tr>
                                    <th>FECHA INICIO</th>
                                    <th>FECHA FIN</th>
                                    <th>DURACION</th>
                                    <th>-</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let solicitud of listaSolicitudes; let i = index">
                                    <td class="xs-hidden text-center">
                                        {{ solicitud.numero_solicitud}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{ solicitud.descripcion}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{ solicitud.tipo_solicitud.tipo_solicitud}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{solicitud.sub_tipo_solicitud.sub_tipo_solicitud}}
                                    </td>
                                    <ng-template #block_complejidad_servicio>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td class="xs-hidden text-center" *ngIf="solicitud.tipo_prioridad!=null; else block_prioridad">
                                        <a style="color: #ffffff" class="btn btnSCursor" [class.btn-warning]="solicitud.tipo_prioridad.tipo_prioridad==='Programada'" [class.btn-danger]="solicitud.tipo_prioridad.tipo_prioridad==='Emergencia'">{{solicitud.tipo_prioridad.tipo_prioridad}}</a>
                                    </td>
                                    <ng-template #block_prioridad>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td class="xs-hidden text-center" *ngIf="solicitud.estado!=null; else block_estado">
                                        {{solicitud.estado.estado}}
                                    </td>
                                    <ng-template #block_estado>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td *ngIf="solicitud.fecha_hora_inicio!=null; else block_fecha_hora_inicio">
                                        {{solicitud.fecha_hora_inicio | date: 'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <ng-template #block_fecha_hora_inicio>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td *ngIf="solicitud.fecha_hora_fin!=null; else block_fecha_hora_fin">
                                        {{solicitud.fecha_hora_fin | date: 'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <ng-template #block_fecha_hora_fin>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td *ngIf="solicitud.fecha_hora_inicio!=null && solicitud.fecha_hora_fin!=null; else block_fecha_hora_inicio_fin">
                                        {{diferenciaFechas(solicitud.fecha_hora_inicio, solicitud.fecha_hora_fin)}} horas
                                    </td>
                                    <ng-template #block_fecha_hora_inicio_fin>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td>
                                        <button type="button" class=" btn btn-primary" (click)="openModalEdicion(solicitud)"><i
                        class="fa fa-edit"></i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="eliminar(solicitud)"><i
                        class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <nav class="pt-4 pl-3 float-right">
                            <pagination [totalItems]="totalRegistros" [itemsPerPage]="numPaginasMostrar" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" [(ngModel)]="paginaActual" (pageChanged)="cambiarPagina($event)">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>