<div class="modal-header">
    <h4 class="modal-title">Registrar Solicitud Servicio</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Descripción de la solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <textarea class="form-control form-control-sm" maxlength="250" [(ngModel)]="cu_solicitud.descripcion"></textarea>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tipo Solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_solicitud.tipo_solicitud.id_tipo_solicitud" class="form-control form-control-sm"
                    (change)="listarSubTipoSolicitud($event.target.value)">
                    <option *ngFor="let tipo_solicitud of lista_tipo_solicitud" [value]="tipo_solicitud.id_tipo_solicitud">
                        {{tipo_solicitud.tipo_solicitud}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Sub tipo Solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_solicitud.sub_tipo_solicitud.id_sub_tipo_solicitud"
                    class="form-control form-control-sm">
                    <option *ngFor="let sub_tipo_solicitud of lista_sub_tipo_solicitud"
                        [value]="sub_tipo_solicitud.id_sub_tipo_solicitud">
                        {{sub_tipo_solicitud.sub_tipo_solicitud}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tipo de Prioridad</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_solicitud.tipo_prioridad.id_tipo_prioridad"
                    class="form-control form-control-sm">
                    <option *ngFor="let tipo_prioridad of lista_tipo_prioridad"
                        [value]="tipo_prioridad.id_tipo_prioridad">
                        {{tipo_prioridad.tipo_prioridad}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Solicitante</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="text" [(ngModel)]="cu_solicitud.solicitante.solicitante"
                    class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Cliente</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="text" [(ngModel)]="cu_solicitud.cliente.cliente" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Direccion</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="text" [(ngModel)]="cu_solicitud.cliente.direccion" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Zona</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_solicitud.cliente.zona.id_zona" class="form-control form-control-sm">
                    <option *ngFor="let zona of lista_zona" [value]="zona.id_zona">
                        {{zona.zona}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Telefono</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="text" [(ngModel)]="cu_solicitud.cliente.telefono" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Fecha Hora Inicio</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="datetime-local" [(ngModel)]="cu_solicitud.fecha_hora_inicio" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Fecha Hora Fin</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="datetime-local" [(ngModel)]="cu_solicitud.fecha_hora_fin" class="form-control form-control-sm">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="guardarSolicitud()">Guardar</button>
    <button class="btn btn-plomo" id="btnCancelar" type="button" (click)="closeModal()">Cerrar</button>
</div>