<div class="modal-header">
    <h4 class="modal-title">Asignacion de Tecnicos</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-12 col-12">
                <h4>Requerimiento minimo</h4>
                <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                    <thead class="table-active">
                        <tr>
                            <th rowspan="2">No.</th>
                            <th rowspan="2">Cantidad</th>
                            <th rowspan="2">Tecnico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parametro of listaParametrosTecnicos; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{parametro.cantidad}}</td>
                            <td>{{parametro.especialidad}}</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tecnico</label>
            </div>
            <div class="col-sm-6 col-6">
                <select [(ngModel)]="id_tecnico" class="form-control form-control-sm">
                <option *ngFor="let tecnico of listaTecnicos" [value]="tecnico.id_tecnico">
                    {{tecnico.nombre}} - {{tecnico.especialidad}}
                </option>
            </select>
            </div>
            <div class="col-sm-2 col-2">
                <button class="btn btn-primary" (click)='agregarTecnico()'>Agregar</button>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-12 col-12">
                <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                    <thead class="table-active">
                        <tr>
                            <th rowspan="2">No.</th>
                            <th rowspan="2">Codigo</th>
                            <th rowspan="2">Nombre</th>
                            <th rowspan="2">Especialidad</th>
                            <th rowspan="2">Edicion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ordenServicioTecnico of ordenServicio.ordenServicioTecnicos; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{ordenServicioTecnico.tecnico.codigo_tecnico}}</td>
                            <td>{{ordenServicioTecnico.tecnico.nombre}}</td>
                            <td>{{ordenServicioTecnico.tecnico.especialidad}}</td>
                            <td><button class="btn btn-danger" (click)="eliminar(i)"><i
                              class="fa fa-trash"></i></button></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="guardarAsignarTecnicos()">Guardar</button>
    <button class="btn btn-plomo" id="btnCancelar" type="button" (click)="closeModal()">Cerrar</button>
</div>