<div class="modal-header">
    <h4 class="modal-title">Asignacion de recursos</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-12 col-12">
                <h4>Requerimiento minimo</h4>
                <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                    <thead class="table-active">
                        <tr>
                            <th rowspan="2">No.</th>
                            <th rowspan="2">Cantidad</th>
                            <th rowspan="2">Recurso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parametro of listaParametrosRecursos; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{parametro.cantidad}}</td>
                            <td>{{parametro.recurso}}</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Recurso</label>
            </div>
            <div class="col-sm-6 col-6">
                <select [(ngModel)]="id_recurso" class="form-control form-control-sm">
                  <option *ngFor="let recurso of listaRecursos" [value]="recurso.idRecurso">
                      {{recurso.nombre}}
                  </option>
              </select>
            </div>
            <div class="col-sm-2 col-2">
                <button class="btn btn-primary" (click)='agregarRecurso()'>Agregar</button>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-12 col-12">
                <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                    <thead class="table-active">
                        <tr>
                            <th rowspan="2">No.</th>
                            <th rowspan="2">Codigo</th>
                            <th rowspan="2">Nombre</th>
                            <th rowspan="2">Edicion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ordenServicioRecurso of ordenServicio.ordenServicioRecursos; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{ordenServicioRecurso.recurso.cod_recurso}}</td>
                            <td>{{ordenServicioRecurso.recurso.nombre}}</td>
                            <td><button class="btn btn-danger" (click)="eliminar(i)"><i
                                class="fa fa-trash"></i></button></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="guardarAsignarRecursos()">Guardar</button>
    <button class="btn btn-plomo" id="btnCancelar" type="button" (click)="closeModal()">Cerrar</button>
</div>