<div class="modal-header">
    <h4 class="modal-title">Editar Solicitud Servicio</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Numero de la Orden de Servicio</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="cu_ordenServicio.numero_orden">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Descripción de la solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <textarea disabled class="form-control form-control-sm" [(ngModel)]="cu_ordenServicio.solicitud.descripcion"></textarea>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tipo Solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_ordenServicio.solicitud.tipo_solicitud.id_tipo_solicitud" class="form-control form-control-sm" disabled>
                    <option *ngFor="let tipo_solicitud of listaTipoSolicitud" [value]="tipo_solicitud.id_tipo_solicitud">
                        {{tipo_solicitud.tipo_solicitud}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Sub tipo Solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_ordenServicio.solicitud.sub_tipo_solicitud.id_sub_tipo_solicitud" class="form-control form-control-sm" disabled>
                    <option *ngFor="let subTipoSolicitud of listaSubTipoSolicitud"
                        [value]="subTipoSolicitud.id_sub_tipo_solicitud">
                        {{subTipoSolicitud.sub_tipo_solicitud}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Prioridad</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_ordenServicio.solicitud.tipo_prioridad.id_tipo_prioridad" class="form-control form-control-sm">
                    <option *ngFor="let tipoPrioridad of listaTipoPrioridad" [value]="tipoPrioridad.id_tipo_prioridad">
                        {{tipoPrioridad.tipo_prioridad}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Complejidad</label>
            </div>
            <div class="col-sm-8 col-8">
                <select [(ngModel)]="cu_ordenServicio.complejidadServicio.id_complejidad_servicio" class="form-control form-control-sm">
                    <option value="0">Seleccione</option>
                    <option *ngFor="let complejidad_servicio of listaComplejidadServicio" [value]="complejidad_servicio.id_complejidad_servicio">
                        {{complejidad_servicio.complejidad_servicio}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tareas de la Orden de Servicio</label>
            </div>
            <div class="col-sm-8 col-8">
                <textarea [(ngModel)]="cu_ordenServicio.tareas" class="form-control form-control-sm"></textarea>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Fecha Hora Inicio</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="datetime-local" [(ngModel)]="cu_ordenServicio.solicitud.fecha_hora_inicio" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Fecha Hora Fin</label>
            </div>
            <div class="col-sm-8 col-8">
                <input type="datetime-local" [(ngModel)]="cu_ordenServicio.solicitud.fecha_hora_fin" class="form-control form-control-sm">
            </div>
        </div>
        <hr>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Recursos</label>
            </div>
            <div class="col-sm-8 col-8">
                <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                    <thead class="table-active">
                        <tr>
                            <th rowspan="2">Recurso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parametro of listaParametrosRecursos; let i = index">
                            <td>{{parametro.recurso}}</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tecnicos</label>
            </div>
            <div class="col-sm-8 col-8">
                <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                    <thead class="table-active">
                        <tr>
                            <th rowspan="2">Especialidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parametro of listaParametrosTecnicos; let i = index">
                            <td>{{parametro.especialidad}}</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="guardarOrdenServicio()">Guardar</button>
    <button class="btn btn-plomo" id="btnCancelar" type="button" (click)="closeModal()">Cerrar</button>
</div>