.btn {
    font-size: 0.7rem !important;
    font-weight: 500 !important;
}

.btnObraFase-iniciado {
    background-color: #FF8C33 !important;
}

.btnObraFase-sinAsignar {
    background-color: #757575 !important;
}

.btnObraFase-completo {
    background-color: #00c853 !important;
}

.btnObraFase-porCompletar {
    background-color: #1e88e5 !important;
}

.btnObraFase- {
    background-color: #212123 !important;
}

.btnSCursor {
    cursor: default !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}