<div class="container-fluid">
    <div class="title-block">
        <p class="page-title">Ordenes de servicio</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-sm-9">
            <div class="card">
                <div class="card-body" style="font-size: 0.9rem">
                    <div class="row form-group d-flex align-items-center">
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Nro. de Orden:</label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <input dTextBox="dTextBox" maxlength="20" class="form-control" name="txtNroOrden" [textMask]="{mask: numOrdenMask}" placeholder="Nro. Orden" [(ngModel)]="busqueda.numero_orden">
                        </div>
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Fecha de Recepcion:</label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <mat-form-field style="width: 100%">
                                <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" readonly [(ngModel)]="busqueda.fecha_recepcion">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row form-group d-flex align-items-center">
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Tipo de Solicitud: </label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <mat-form-field style="width: 100%">
                                <mat-label>Tipo de Solicitud</mat-label>
                                <mat-select [(ngModel)]="busqueda.id_tipo_solicitud">
                                    <mat-option *ngFor="let tipoSolicitud of listaTipoSolicitud" [value]="tipoSolicitud.id_tipo_solicitud">
                                        {{tipoSolicitud.tipo_solicitud}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 col-2">
                            <label dlabels="dlabels" class="control-label">Estado de Solicitud: </label>
                        </div>
                        <div class="col-sm-4 col-4">
                            <mat-form-field style="width: 100%">
                                <mat-label>Estado</mat-label>
                                <mat-select [(ngModel)]="busqueda.id_estado" name="estadoSolicitud">
                                    <mat-option *ngFor="let estado of listaEstadoSolicitud" [value]="estado.id_estado">
                                        {{estado.estado}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="float-right">
                                <button class="btn btn-info mr-1" (click)="ConsultaPrincipal(busqueda)" type="button" id="btnBuscar">
                                    <i class="fa fa-search"></i> Buscar</button>
                                <button class="btn btn-debug mr-1" (click)="LimpiarControles()" type="button" id="btnLimpiar">
                                    <i class="icon icon-limpiar"></i> Limpiar</button>
                                <span style="color: #00a3e8">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-3">
            <div class="card bg-secondary">
                <div class="card-body">
                    <div class="div-centrado text-center c-white">
                        <div class="f-s-5rem l-h-100">{{totalRegistros}}</div>
                        <div class="control-label">Ordenes de Servicio</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card card-default card-principal">
        <div class="card-body">
            <div class="group-box">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <table class="table table-hover table-bordered table-responsive table-principal" style="font-size: 0.7rem">
                            <thead class="table-active">
                                <tr>
                                    <th rowspan="2">No.</th>
                                    <th rowspan="2">No. ORDEN</th>
                                    <th rowspan="2">No. SOLICITUD</th>
                                    <th rowspan="2">TIPO SOLICITUD</th>
                                    <th rowspan="2">DESCRIPCION</th>
                                    <th rowspan="2">ZONA</th>
                                    <th rowspan="2">DIRECCION</th>
                                    <th rowspan="2">COMPLEJIDAD</th>
                                    <th rowspan="2">PRIORIDAD</th>
                                    <th rowspan="2">ESTADO</th>
                                    <th rowspan="2">AVANCE RECURSO</th>
                                    <th colspan="3">PERIODO EJECUCION</th>
                                    <th rowspan="2">Asignar</th>
                                </tr>
                                <tr>
                                    <th>FECHA INICIO</th>
                                    <th>FECHA FIN</th>
                                    <th>DURACION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ordenServicio of listaOrdenServicio; let i = index">
                                    <td class="xs-hidden text-center">
                                        {{i+1}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{ ordenServicio.numero_orden}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{ ordenServicio.solicitud.numero_solicitud}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{ ordenServicio.solicitud.tipo_solicitud.tipo_solicitud}}
                                    </td>
                                    <td class="xs-hidden text-center">
                                        {{ ordenServicio.solicitud.descripcion}}
                                    </td>
                                    <td class="xs-hidden text-center" *ngIf="ordenServicio.solicitud.cliente.zona!=null; else block_zona">
                                        {{ordenServicio.solicitud.cliente.zona.zona}}
                                    </td>
                                    <ng-template #block_zona>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td class="xs-hidden text-center" *ngIf="ordenServicio.solicitud.cliente.direccion!=null; else block_direccion">
                                        {{ordenServicio.solicitud.cliente.direccion}}
                                    </td>
                                    <ng-template #block_direccion>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td class="xs-hidden text-center" *ngIf="ordenServicio.complejidadServicio!=null; else block_complejidad_servicio">
                                        {{ordenServicio.complejidadServicio.complejidad_servicio}}
                                    </td>
                                    <ng-template #block_complejidad_servicio>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td class="xs-hidden text-center" *ngIf="ordenServicio.solicitud.tipo_prioridad!=null; else block_tipo_prioridad">
                                        {{ordenServicio.solicitud.tipo_prioridad.tipo_prioridad}}
                                    </td>
                                    <ng-template #block_tipo_prioridad>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td class="xs-hidden text-center">
                                        {{ordenServicio.estado.estado}}
                                    </td>
                                    <td *ngIf="ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length >= 0 && ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length <= 50" class="xs-hidden text-center">
                                        <button class="btn btnObraFase-iniciado btn-circle">{{ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length | number:'1.0-0' }} %</button>
                                    </td>
                                    <td *ngIf="ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length > 50 && ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length <= 99" class="xs-hidden text-center">
                                        <button class="btn btnObraFase-porCompletar btn-circle">{{ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length | number:'1.0-0'}} %</button>
                                    </td>
                                    <td *ngIf="ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length >=100" class="xs-hidden text-center">
                                        <button class="btn btnObraFase-completo btn-circle">100 %</button>
                                    </td>
                                    <td *ngIf="ordenServicio.solicitud.fecha_hora_inicio!=null; else block_fecha_hora_inicio">
                                        {{ordenServicio.solicitud.fecha_hora_inicio | date: 'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <ng-template #block_fecha_hora_inicio>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td *ngIf="ordenServicio.solicitud.fecha_hora_fin!=null; else block_fecha_hora_fin">
                                        {{ordenServicio.solicitud.fecha_hora_fin | date: 'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <ng-template #block_fecha_hora_fin>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td *ngIf="ordenServicio.solicitud.fecha_hora_inicio!=null && ordenServicio.solicitud.fecha_hora_fin!=null; else block_fecha_hora_inicio_fin">
                                        {{diferenciaFechas(ordenServicio.solicitud.fecha_hora_inicio, ordenServicio.solicitud.fecha_hora_fin)}} horas
                                    </td>
                                    <ng-template #block_fecha_hora_inicio_fin>
                                        <td class="xs-hidden text-center">
                                            null
                                        </td>
                                    </ng-template>
                                    <td *ngIf="ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length < 100; else block_asignar">
                                        <button type="button" class="btn btn-primary" (click)="asignar(ordenServicio)">
                                            <div *ngIf="ordenServicio.ordenServicioRecursos.length*100/ordenServicio.solicitud.parametroSistema.length < 100; else block_reasignar">Asignar</div>
                                            <ng-template #block_reasignar>
                                                <div>ReAsignar</div>
                                            </ng-template>
                                        </button>
                                    </td>
                                    <ng-template #block_asignar>
                                        <td class="xs-hidden text-center">
                                            <button type="button" class="btn btn-primary" disabled>ReAsignar</button>
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <nav class="pt-4 pl-3 float-right">
                            <pagination [totalItems]="totalRegistros" [itemsPerPage]="numPaginasMostrar" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" [(ngModel)]="paginaActual" (pageChanged)="cambiarPagina($event)">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>