<div class="container-fluid">
        <div class="title-block">
          <p class="page-title">Hoja de Ruta</p>
        </div>
      </div>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="row form-group d-flex align-items-center">
                  <div class="col-sm-2 col-2">
                    <label dlabels="dlabels" class="control-label">Fecha Inicio</label>
                  </div>
                  <div class="col-sm-3 col-3">
                    <mat-form-field style="width: 100%">
                      <input matInput [matDatepicker]="pickerInicio" placeholder="Seleccione fecha(dd/MM/aaaa)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                      <mat-datepicker #pickerInicio></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-2 col-2">
                    <label dlabels="dlabels" class="control-label">Fecha Fin</label>
                  </div>
                  <div class="col-sm-3 col-3">
                    <mat-form-field style="width: 100%">
                      <input matInput [matDatepicker]="pickerFin" placeholder="Seleccione fecha(dd/MM/aaaa)" readonly>
                      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFin></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="float-right">
                      <button class="btn btn-info mr-1" (click)="BuscarHojaRuta()" type="button" id="btnBuscar">
                        <i class="fa fa-search"></i> Buscar</button>
                      <button class="btn btn-light mr-1" (click)="LimpiarControles()" type="button" id="btnLimpiar">
                        <i class="icon icon-limpiar"></i> Limpiar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container-fluid">
        <div class="card card-default card-principal">
          <div class="card-body">
            <div class="group-box">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    
                  <table class="table table-hover table-bordered table-responsive table-principal">
                    <thead class="table-active">
                      <th>HOJA DE RUTA</th>
                      <th>NRO. VISITA</th>
                      <th>SERVICIO</th>
                      <th>TECNICO</th>
                      <th>FECHA INICIO</th>
                      <th>FECHA FIN</th>
                      <th>ESTADO</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let programacion of listaVisitasProgramadas">
                        <td class="xs-hidden text-center">
                          <i class="icon-checklist" (click)="openModalMapa(programacion)"></i>
                        </td>
                        <td class="xs-hidden text-center">{{programacion.visita.codigo_visita}}</td>
                        <td class="xs-hidden text-center">{{programacion.ordenServicio.solicitud.descripcion}}</td>
                        <td class="xs-hidden text-center">{{programacion.ordenServicio.solicitud.tipo_solicitud.tipo_solicitud}}</td>
                        <td class="xs-hidden text-center">{{programacion.visita.fecha_visita}}</td>
                        <td class="xs-hidden text-center">{{programacion.visita.fecha_visita}}</td>
                        <td class="xs-hidden text-center">{{programacion.visita.activo? "En Proceso":"Terminado"}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <nav class="pt-4 pl-3 float-right">
                    <pagination [totalItems]="totalRegistros" [itemsPerPage]="numPaginasMostrar" [boundaryLinks]="true"
                      previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;" lastText="&raquo;"
                      [maxSize]="5" (pageChanged)="cambiarPagina($event)">
                    </pagination>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>