<div class="modal-header">
    <h4 class="modal-title">Ver Solicitud Servicio</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Descripción de la solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <textarea disabled class="form-control form-control-sm" [(ngModel)]="cu_solicitud.descripcion"></textarea>
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tipo Solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.tipo_solicitud.tipo_solicitud" class="form-control form-control-sm" (change)="listarSubTipoSolicitud($event.target.value)">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Sub tipo Solicitud</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.sub_tipo_solicitud.sub_tipo_solicitud" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Tipo de Prioridad</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.tipo_prioridad.tipo_prioridad" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Solicitante</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.solicitante.solicitante" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Cliente</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.cliente.cliente" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Direccion</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.cliente.direccion" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Zona</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.cliente.zona.zona" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Telefono</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="text" [(ngModel)]="cu_solicitud.cliente.telefono" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Fecha Hora Inicio</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="datetime-local" [(ngModel)]="cu_solicitud.fecha_hora_inicio" class="form-control form-control-sm">
            </div>
        </div>
        <div class="row form-group d-flex align-items-center">
            <div class="col-sm-4 col-4">
                <label dlabels="dlabels" class="control-label">Fecha Hora Fin</label>
            </div>
            <div class="col-sm-8 col-8">
                <input disabled type="datetime-local" [(ngModel)]="cu_solicitud.fecha_hora_fin" class="form-control form-control-sm">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-plomo" id="btnCancelar" type="button" (click)="closeModal()">Cerrar</button>
</div>